* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    position: sticky;
    top:0;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 2px solid #ccc;
    z-index: 99;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    flex-grow: 1;
    text-align: center;
}

.info-container {
    flex-shrink: 0;
    width: 200px;
}
.left-container {
    flex-shrink: 0;
    width: 200px;
}

.desktop-menu-text p {
    margin-bottom: 2px;
    text-align: right;
}

.desktop-nav-links {
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 950px;
    margin: 0 auto;
}

.desktop-nav-links a{
    flex: 1;
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.desktop-nav-links a.active {
    font-size: 110%;
    background-color: #DD7007;
    border-color: #DD7007;

}

.desktop-nav-links a:hover {
    font-size: 110%;
    color: #000000;
    background-color: #DD7007;
    border-color: #DD7007;
}

main {
    padding: 20px 0;
}

.category {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 140px;
    text-align: center;
    margin-bottom: 20px;
    transform: transform 0.3s ease;
}

.category a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.category-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    filter: blur(0px);
    transition: filter 0.3s ease;
    cursor: pointer;
}

.category:hover .category-image {
    filter: blur(3px);
    transform: scale(1.4);
}

.category-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3b3b3b;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
    z-index: 2;
    text-align: center;
    pointer-events: none;
}

.category-name::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -2px;
    right: -2px;
    bottom: -1px;
    background-color:rgba(255, 255, 255, 0.583);
    z-index: -1; /* Positioned behind the text */
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Ensure it doesn't interfere with hover */
    border-radius: 5px;
}

/* Hover effect to show the background box */
.category:hover .category-name::before {
    opacity: 0;
}

.overlay {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 60%;
    height: calc(100% - var(--header-height));
    background-size: cover;
    background-position: center;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 1000;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.overlay-content {
    position: fixed; /* Fix the position of the content */
    top: var(--header-height);
    bottom: 50px;
    right: 0; /* Align content to the right */
    width: 40%; /* Cover the right half of the screen */
    height: calc(100% - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    text-align: left; /* Left-align text within the content box */
    padding: 20px;
    z-index: 1000;
}

.overlay-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.overlay-content p {
    max-width: 90%;
    margin: 0;
    padding: 10px;
}

.overlay-content .close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Side navigation menu (hidden in desktop) */
.mobilesidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    background-color: #d9d9d9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1001;
}

/* Content of the sidenav */
.mobilesidenav a, .mobilesidenav p {
    text-decoration: none;
    color: #000000;
    display: block;
    transition: 0.3s;
}

/* Close button inside the sidenav */
.mobilesidenav .mobilenavclosebtn {
    position: absolute;
    top: 0;
    right: 16px;
    font-size: 10vw;
}

.mobile-nav-contacts {
    font-size: 18px;
    padding-bottom: 32px;
}

.mobile-nav-links {
    font-size: 24px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.mobile-nav-links a {
    padding-top: 16px;
    padding-bottom: 16px;
}

.mobile-nav-links a:not(:last-child) {
    border-bottom: 1px solid #000000;
}

.mobile-language-links {
    font-size: 18px;
    font-weight: bold;
    padding: 64px 0px 0px 0px;
}

.kontaktandmed {
    text-align: center;
}

.maps-widget {
    border: 0;
    width: 90%;
    height: 150%;
}

  /* IMAGE GRID STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .image-grid figure {
      margin-bottom: 0;
  }

  .image-grid img {
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
      transition: box-shadow 0.2s;
  }

  .image-grid a:hover img {
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
  }

  #gallery h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }


  /* LIGHTBOX STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .lightbox-modal .modal-content {
      background: var(--lightbox);
  }

  .lightbox-modal .modal-body {
      display: flex;
      align-items: center;
      padding: 0;
      text-align: center;
  }

  .lightbox-modal img {
      width: auto;
      max-height: 100vh;
      max-width: 70%;
  }

  .lightbox-modal .carousel-control-prev,
  .lightbox-modal .carousel-control-next {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      width: auto;
  }

  .lightbox-modal .carousel-control-prev {
      left: 20px;
  }

  .lightbox-modal .carousel-control-next {
      right: 20px;
  }

/*########## MOBILE SCREENS ##########*/
@media (max-width: 992px) {

    .overlay {
        top: var(--header-height);
        left: 0;
        width: 100%;
        height: 50%; /* Top half of the screen */
    }

    .overlay-content {
        position: fixed;
        top: calc(50% + var(--header-height)); /* Start from the bottom of the overlay */
        right: 0;
        width: 100%;
        height: 50%; /* Bottom half of the screen */
        padding: 20px;
        justify-content: flex-start; /* Align content to the top within the bottom half */
        align-items: flex-start; /* Align items to the left */
        box-sizing: border-box;
        overflow-y: scroll; /* Enable vertical scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    }

    .overlay-content h1 {
        font-size: 2rem;
    }

    .overlay .close {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 30px;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .overlay-content .close {
        display: none;
    }
    
    .overlay-content p {
        margin-bottom: 100px;
    }
    
    .logo {
        max-width: 90%;
        height: auto;
        display: block;
        margin: 3.5% auto;
    }

    .mobile-menu-icon {
        display: block;
        font-size: 7vw;
        cursor: pointer;
        float: right;
    }

    .mobilesidenav {
        width: 0;
    }

    .desktop-nav-links {
        display: none;
    }
   
    .info-container {
        flex-shrink: 0;
        width: 50px;
    }
    .left-container {
        flex-shrink: 0;
        width: 50px;
    }
}

/* ########## DESKTOP SCREENS ########## */
@media (min-width: 992px) {
    header {
        padding: 15px 20px 0px 20px;
    }    

    .desktop-menu-text {
        float:right;
    }

    .overlay .close {
        display: none;
    }

    .overlay-content .close {
        display: block;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobilesidenav {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .logo {
        width: 90%;
        height: auto;
        display: block;
        margin: 3% auto;
    }
}

/* ultra wide? */
@media (min-width: 1200px) {
    .logo {
        width: 90%;
        height: auto;
        display: block;
        margin: 3% auto;
        max-width: 950px;
    }
}